<nav class="navbar">
    <div class="links">
        <div class="logo" routerLink="/">
            <img src="img/watchcorn-logo.png" alt="WatchCorn Logo" class="logo-img" />
            WatchCorn
        </div>
        <form class="search-form" (ngSubmit)="onSearch()" #searchForm="ngForm">
            <input type="text" name="searchQuery" [(ngModel)]="searchQuery"
                placeholder="Rechercher un film, série ou acteur..." required />
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <a routerLink="/">Films</a>
        <a routerLink="/">Séries</a>
        <!-- Si pas connecté -->
        <a *ngIf="!(authService.isLoggedIn$ | async)" routerLink="/connexion">Connexion</a>
        <a *ngIf="!(authService.isLoggedIn$ | async)" routerLink="/inscription">Inscription</a>
        <!-- Si connecté -->
        <div *ngIf="authService.currentUser$ | async as user" class="user-info">
            <a routerLink="/">
                <img [src]="'img/' + user.profilePic" alt="Avatar" class="avatar" />
                <span>{{ user.displayName }}</span>
            </a>
        </div>
        <a *ngIf="authService.isLoggedIn$ | async" (click)="logout()">Deconnexion</a>
    </div>
</nav>