/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: "Raleway", sans-serif;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: 0.2s ease-in-out;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

strong {
  font-weight: 600;
}

body {
  background-color: #0f0f0f;
  color: #f5f5f5;
}