<div class="email-verification-container">
  <app-loader-1 *ngIf="isLoading"></app-loader-1>

  <div class="card" *ngIf="!isLoading">
    <ng-container>
      <ng-container *ngIf="!isSuccess">
        <p>{{ message }}</p>
      </ng-container>

      <ng-container *ngIf="isSuccess">
        <p class="success">Votre compte a été activé avec succès ! 🎉</p>
        <p class="success">Vous pouvez maintenant vous connecter.</p>
        <button routerLink="/connexion">Aller à la connexion</button>
      </ng-container>
    </ng-container>
  </div>
</div>