@use '_variables.scss' as vars;

.email-verification-container {
  height: vars.$display-screen;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    background-color: vars.$secondary-background;
    padding: 40px;
    border-radius: 12px;
    text-align: center;

    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }

    button {
      padding: 10px 20px;
      border-radius: 8px;
      border: none;
      background-color: vars.$primary-color;
      color: vars.$text-color;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.2s;

      &:hover {
        background-color: vars.$primary-color-hover;
      }
    }
  }
}